<section id="about">
  <div class="container">
    <h2 class="section-heading">About</h2>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="about-body">
                <p>Young women are sexually active (about <a href="http://www.nationalsexstudy.indiana.edu/graph.html">80%</a>). We all know the general risks, outcomes, and side effects of sex. Many of us were scared into abstinence or taught that pre-marital sex is bad or dangerous.</p>
                <p>We're here to tell you that it's not. We want to encourage and guide young women to safe and happy sex. Our goal is not to serve as a primary sex education source, but rather a guide to an experienced young woman's independence and comfortability with her own sexuality.</p>
                <p>We've gathered a series of scenarios, facts, personal stories, and resources for adults of all ages and experience. We hope that these will be useful for the woman seeking advice, the woman looking to give advice, and all those in between.</p>
                <p>So go forth, young one. Bask in the beautiful oyster that is your world and enjoy.</p>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
  </div>
</section>
