<section id="safety-home">
  <div class="container">
    <h2 class="section-heading">Keeping It Safe</h2>
    <div class="row">
      <div class="col-lg-12">
        <div class="safety-body">
            <p>Safety is key.</p>
            <p>Unfortunately, that's not what we all were taught in high school or by our parents.
Many schools enforce abstinence-only programs with scare tactics to hinder kids from sexual activity, however, these have been shown to have no effect on sexual activity but rather an increased rate of teen pregnancy and STDs.</p>
            <p>The solution to this problem is to simply increase students' awareness and to prepare them for safe sex and all consequences. Sex is inevitable, but safe sex is a choice, and we want to make sure that everyone out there is choosing this. 
            </p>
          <p>So we've gathered some tips on how to make sure safety and consent are always happening. And of course, we have to throw some facts and statistics...for safety.</p>
        </div>
      </div>
    </div>
  </div>
</section>
